<%- include('../partials/header') %>

<%- include('../partials/nav') %>

<div class="dexcontainer">
    <ol id="pokedex"></ol>
</div>

<script src="/javascripts/script.js"></script>

<%- include('../partials/footer') %>