<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="menu">
  <input type="checkbox" checked/>
  <div class="hamburger">
      <img src="https://i.imgur.com/NBAOTJq.png">
  </div>
  <div class="navbar">
    <div class="navitems">
      <span class="item1">
        <a href="/home"><p class="icons">home</p></a>
      </span>
      <span class="item2">
        <a href="/pokemon"><p class="icons">catching_pokemon</p></a>
      </span>
      <span class="item3">
        <a href="/games"><p class="icons">sports_esports</p></a>
      </span>
      <span class="item4">
        <a href="/logout"><p class="icons">logout</p></a>
      </span>
    </div>
  </div>
</div>