<nav class="navbar">
  <img id ="navimg" src="https://i.imgur.com/NBAOTJq.png"></a>
  <ul id="menu">
    <a href="/home">HOME</a>
    <a href="/pokemon">POKÉDEX</a>
    <a href="/games">GAMES</a>
    <a href="/logout">Log Out</a>
    </ul>
    </nav>