@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1D2026;
  font-size: 1.6vmin;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.container, .error {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  position: fixed;
  height: 100vh;
}

h1 {
  font-size: 4vmin;
  color: white;
}

#home {
  font-size: 6vmin;
  height: 50%;
}

#hometext {
  margin-top: -4vmin;
}

#pokeball {
  position: absolute;
  left: 33%;
  top: 22%;
  z-index: -5;
}

.blue {
  color: #2196f3;
}

h2, h3 {
  text-transform: uppercase;
  color: white;
}

h2 {
  text-align: center;
  font-weight: 100;
  color: lightgreen;
  font-size: 45px;
  letter-spacing: 3vmin;
  margin-top: 10vmin;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 8vmin;
  color: white;
}

p {
  margin-top: 1vmin;
  color: #aaa;
}

a {
  text-decoration: none;
}

.games {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 10vmin;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 8vmin;
  font-size: 2vmin;
  text-align: center;
  transition: all .2s ease-in-out;
}

#games {
  color: white;
}

#games:hover {
  color: #2196f3;
  font-weight: 700;
  transform: scale(1.1); 
}

#games:hover {
  background-image: url('https://i.imgur.com/LN1ezpL.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10%;
}

.addpokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8vmin;
}

.caught {
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  row-gap: 35px;
  padding: 50px;
}

.caught img {
  transition: all .2s ease-in-out;
  width: 50%;
  padding: -2vmin;
}

.caught img:hover {
  transform: scale(1.1);
}

.addgame {
  text-align: center;
  left: 48%;
}

.addpokemon, .addteam {
  position: absolute;
  text-align: center;
  bottom: 15%;
  left: 48%;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(6, 15vw);
  background-color:white;
  margin: 10vmin 20vmin 0 20vmin;
  padding: 5vmin;
}

.welcome, .pokemon, .errormsg, .ghost {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete {
  position: absolute;
  bottom: 5%;
  left: 48%
}

input, button {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

input {
  width: 250px;
}

button {
  background: none;
  border: none;
  color: tomato;
}

button:hover {
  cursor: pointer;
}

.btnicons {
  margin-top: 5vmin;
  font-family: 'Material Icons';
  font-size: 50px;
  color: white;
  letter-spacing: 50px;
}

.btnicons:hover {
  color: #2196f3;
  transition: all .2s ease-in-out;
  transform: scale(1.2);
}

.btnicons2 {
  font-family: 'Material Icons';
  color: white;
  font-size: 25px;
}

select {
  font-family: 'Poppins';
  width: 250px;
  color: grey;
  text-align: center;
}

.welcome, .errormsg {
  padding-left: 25vmin;
  width: 100vw;
}

.login {
  color: #222;
  background: #fff;
  border: solid 1px #eee;
  border-radius: 50px;
  padding: 1.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  text-decoration: none;
  width: 38vmin;
  cursor: pointer;
}

.login img {
  width: 3vmin;
  margin-right: 1vmin;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokebank, .home {
  position: absolute;
}

.pokebank {
  text-align: center;
  top: 25%;
  left: 41.5%;
}

.home {
  bottom: 3%;
  left: 23.5%;
}

.id {
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  opacity: 50%;
  z-index: 10;
}

.pokeId {
  background-image: url('https://i.imgur.com/LN1ezpL.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokeform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pokemon, .ghost {
  width: 75vmin;
  max-width: 90%;
}

.ghost {
  animation: floating 3s ease-in-out infinite;
}

/* pokedex */

.dexcontainer {
  overflow-y: auto;
  margin-top: -12.5vmin;
  z-index: -1;
}

#pokedex {
  display: grid;
  grid-template-columns: repeat(9, 8.5vw);
  grid-gap: 50px;
  margin-top: 25vmin;
}

.card {
  width: 10px;
  margin: 0 auto;
  list-style: none;
}

.card:hover {
  animation: bounce 0.5s linear;
  cursor: pointer;
}

.card-image {
  height: 100px;
}

/* nav bar */

.icons {
  font-family: 'Material Icons';
  color: white;
  font-size: 40px;
}

.menu input, .hamburger, .navitems span {
  position: absolute;
}

.menu {
  margin-top: 5vmin;
  width: 100vw;
}

.menu input {
  left: 47.5%;
  width: 80px;
  height: 80px;
  z-index: 20;
  opacity: 0;
  cursor: pointer;
}

.hamburger {
  margin-top: -8px;
  left: 47.5%;
  z-index: 10;
  cursor: pointer;
}

.hamburger img {
  width: 120px;
}

.navbar {
  margin: auto;
  width: 600px;
  height: 100px;
  background-color: tomato;
  border-radius: 60px;
  box-shadow: 0px 0px 20px #F19181;
  z-index: 5;
  transform: scaleX(1);
  transition: all .3s ease-in-out;
}

.menu input:checked ~ .navbar {
  transform: scaleX(0);
}

.navitems span {
  top: 15%;
  width: 20px;
  padding-left: 35px;
  transition: all .2s ease-in-out;
  cursor: pointer; 
}

.item1 {
  left: 2%;
}

.item2 {
  left: 19%;
}

.item3 {
  left: 61%;
}

.item4 {
  left: 81%;
}

.menu input:checked ~ .navbar .navitems .item1 {
    opacity:1;
  transition-delay:.45s;
}

.menu input:checked ~ .navbar .navitems .item2 {
    opacity:1;
  transition-delay:.40s;
}

.menu input:checked ~ .navbar .navitems .item3 {
    opacity:1;
  transition-delay:.40s;
}

.menu input:checked ~ .navbar .navitems .item4 {
    opacity:1;
  transition-delay:.45s;
}

/* animations */

@keyframes floating {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, 25px); }
  100% { transform: translate(0, -0px); }   
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

@keyframes bounce {
  20% {
      transform: translateY(-6px);
  }
  40% {
      transform: translateY(0px);
  }
  60% {
      transform: translateY(-2px);
  }
  80% {
      transform: translateY(-0px);
  }
}