body {
  padding: 50px;
  font: 14px "Arial", Helvetica, sans-serif;
}

#nav {
  margin-top: 5vmin;
  text-align: center;
}
#nav ul{
  display: flex;
  justify-content: space-around;
}

a {
  color: black;
  text-decoration: none;
}

#google {
  width: 25px;
  height: auto;
}
