<%- include('../partials/header') %>

<%- include('../partials/nav') %>

<div class="hompage">
    <div class="pokebank">
        <h1>PokéBank<span class="blue">.</span></h1>
        <p>Your one-stop-shop for all things Pokémon.</p>
    </div>
    <div class="home">
        <img src="https://i.imgur.com/52Qsjbe.png">
    </div>
</div>

<%- include('../partials/footer') %>