<%- include('../partials/header') %>

<%- include('../partials/nav') %>

<div class="hompage">
    <div class="pokebank">
            <h1 id="home">PokéBank<span class="blue">.</span></h1>
        <p id="hometext">Your one-stop-shop to store 'em all.</p>
    </div>
    <img id="pokeball" src="https://i.imgur.com/LN1ezpL.png">
    <div class="home">
        <img src="https://i.imgur.com/52Qsjbe.png">
    </div>
</div>

<%- include('../partials/footer') %>