<%- include('../partials/header') %>

<%- include('../partials/nav') %>

<h2>POKÉDEX</h2>

<div class="gen">
    <li>GEN 1</li>
    <li>GEN 2</li>
    <li>GEN 3</li>
    <li>GEN 4</li>
    <li>GEN 5</li>
    <li>GEN 6</li>
    <li>GEN 7</li>
    <li>GEN 8</li>
</div>

<div class="pokedex"><%= genData %></div>

<%- include('../partials/footer') %>